<section id="trending-movies">
    <div class="container">
        <h2 class="section-headline"> Trending Movies    </h2>
        <div class="row">
            <div class="item col-md-3 mb-4" *ngFor="let item of trendingMovies.results   | paginate: { itemsPerPage: itemsPerPage, currentPage: p , totalItems: totalItems } ">
                <div class="one-item">
                    <a (click)="getMovieDetails(item.id);viewMovieDetals(item.id)">
                        <img class="img-fluid" src="{{baseUrl}}/original/{{item.poster_path}}"/>
                        <h5 class="movie-title"> {{item.title}} </h5>
                    </a>
                </div>
            </div>

            <div class="pagination-container">
                <pagination-controls (pageChange)="getPage(p = $event)"></pagination-controls>
            </div>

        </div>
    </div>
</section>